@font-face {
    font-family: 'Effra';
    src: url('Effra-LightItalic.eot');
    src: local('Effra Light Italic'), local('Effra-LightItalic'),
        url('Effra-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Effra-LightItalic.woff2') format('woff2'),
        url('Effra-LightItalic.woff') format('woff'),
        url('Effra-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra.eot');
    src: local('Effra'),
        url('Effra.eot?#iefix') format('embedded-opentype'),
        url('Effra.woff2') format('woff2'),
        url('Effra.woff') format('woff'),
        url('Effra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-Bold.eot');
    src: local('Effra Bold'), local('Effra-Bold'),
        url('Effra-Bold.eot?#iefix') format('embedded-opentype'),
        url('Effra-Bold.woff2') format('woff2'),
        url('Effra-Bold.woff') format('woff'),
        url('Effra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-Light.eot');
    src: local('Effra Light'), local('Effra-Light'),
        url('Effra-Light.eot?#iefix') format('embedded-opentype'),
        url('Effra-Light.woff2') format('woff2'),
        url('Effra-Light.woff') format('woff'),
        url('Effra-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-MediumItalic.eot');
    src: local('Effra Medium Italic'), local('Effra-MediumItalic'),
        url('Effra-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Effra-MediumItalic.woff2') format('woff2'),
        url('Effra-MediumItalic.woff') format('woff'),
        url('Effra-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Effra';
    src: url('EffraHeavy-Italic.eot');
    src: local('Effra Heavy Italic'), local('EffraHeavy-Italic'),
        url('EffraHeavy-Italic.eot?#iefix') format('embedded-opentype'),
        url('EffraHeavy-Italic.woff2') format('woff2'),
        url('EffraHeavy-Italic.woff') format('woff'),
        url('EffraHeavy-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-Italic.eot');
    src: local('Effra Italic'), local('Effra-Italic'),
        url('Effra-Italic.eot?#iefix') format('embedded-opentype'),
        url('Effra-Italic.woff2') format('woff2'),
        url('Effra-Italic.woff') format('woff'),
        url('Effra-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-BoldItalic.eot');
    src: local('Effra Bold Italic'), local('Effra-BoldItalic'),
        url('Effra-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Effra-BoldItalic.woff2') format('woff2'),
        url('Effra-BoldItalic.woff') format('woff'),
        url('Effra-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-Medium.eot');
    src: local('Effra Medium'), local('Effra-Medium'),
        url('Effra-Medium.eot?#iefix') format('embedded-opentype'),
        url('Effra-Medium.woff2') format('woff2'),
        url('Effra-Medium.woff') format('woff'),
        url('Effra-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-Heavy.eot');
    src: local('Effra Heavy'), local('Effra-Heavy'),
        url('Effra-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Effra-Heavy.woff2') format('woff2'),
        url('Effra-Heavy.woff') format('woff'),
        url('Effra-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Good Dog';
    src: url('gooddognew.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

