@media (max-width: 1200px) {    
    .container{
        margin-left: 35px;
        margin-right: 35px;
    }
    .logo > h3{
        display: none;
    }
    .navigation__menu{
        display: none;
    }
    .autorization__menu{
        display: none;
    }
    .header__menu__button   {
        margin-top: 80px;
    }
    .container__btn__socmed{
        margin-top: 60px;
        flex-direction: column-reverse;
    }
    .header__arrow{
        display: none;
    }
    .hero__content__wrapper > h1{
        font-size: 36px;
    }
    .hero__content__wrapper > p{
        font-size: 14px;
    }
    .btn__socmed:nth-child(odd){
        transform: rotate(2deg);  
        margin-left: 0; 
        margin-top: 0;
    }
    .btn__socmed:nth-child(even){
        transform: rotate(-4deg);  
        margin-left: 0; 
    }
    .header__get__start__container{
        margin-top: 32px;
    }
}