@import "fonts/stylesheet.css";

*{
    padding: 0;
    margin: 0;
    color: white;
}
header{
    min-height: 900px;
    background-color: black;
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction:column;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.header__logo{
        width: 100%;
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    flex-direction: row;
}
.logo h3{
    vertical-align: 50%;
    font-weight: 700;
    font-size: 24px;
    margin: auto 0 auto 18px;
}
.header__menu__button{
    display: none;  
}
.header__menu__button div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    float: end;
}
.navigation__menu{
    margin: auto auto;
}   
.navigation__menu ul li{
    display: inline;
}
.autorization__menu{
    margin: auto 0;
}
.autorization__menu  ul li{
    float: right;
}
.registration__link{
    background-color: white;
    padding: 12px 32px;
    border-radius: 40px;
}
.registration__link a{
    color: #000;
    font-family: Effra;
    font-size: 18px;
}
header ul li{
    margin-left: 40px;
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    font-family: Effra;
    font-size: 18px;
}

.hero__content__wrapper{
    margin-top: 129px;
}

.hero__content__wrapper > h1{
    font-size: 72px;
    font-weight: 800;
    font-family: Effra;
}
.hero__content__wrapper > p{
    font-size: 18px;
    font-weight: 400;
    font-family: Effra;
    color: #8B8B8B;
    margin-top: 24px;
}
.header__get__start__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.btn__get__started{
    color: #000;
    background-color: #A8FF35;
    padding: 16px 32px;
    border-radius: 40px;
    font-weight: 700;
    font-family: Effra;
    font-size: 18px;
}

.header__arrow {
    margin-left: 20px;
    margin-top: -6px;
    float:inline-start;
    position: absolute;
    margin-left: 300px;
}
.header__arrow > p{
    font-family: 'Good Dog';
    transform: rotate(6deg);
    margin-left: 6px;
    font-size: 14px;
}
.container__btn__socmed{
    display: flex;
    flex-direction: row-reverse;
    margin: 110px auto 0 auto;
}
.btn__socmed{
    background-color: #181818;
    width: 342px;
    height: 82px;
    display: flex;
    flex-direction: row;
    border-style: none;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;}
.btn__socmed:nth-child(odd){
    transform: rotate(2deg);  
    margin-left: -130px; 
    margin-top: 54px;
}
.btn__socmed:nth-child(even){
    transform: rotate(-4deg);  
    margin-left: -70px; 
}
.btn__socmed > img{
    margin:  auto 0 auto 41px;
}
.btn__socmed > p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    margin:  auto 0 auto 14px;
}
.btn__socmed__dagger{
    position: absolute;
    width: 85px;
    height: 78px;
    left:257px;
    background: rgb(24,24,24);
    background: linear-gradient(90deg, rgba(24,24,24,0.6) 0%, rgba(24,24,24,1) 40%);  
}
.btn__socmed__dagger > p{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 16px;
    margin-left: 15px;
}


